[submodule "components/esp-idf"]
	path = components/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
